@model BM4.Models.UserProfile

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section mt-2">
    <div class="card">
        <img src="@Html.DisplayFor(model => model.ProfilePic)"
             style="height: 200px; width: 200px; margin: auto; border-radius: 50%; margin-top: 25px;"
             class="card-img-top" alt="@Html.DisplayFor(model => model.Title)">
        <div class="card-body" style="">
            <h5 class="card-title" style="text-align:center">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)</h5>
            <p class="card-text">
                Currently in @Html.DisplayFor(model => model.City)
            </p>
            <p class="card-text"><small>Connected since @Html.DisplayFor(model => model.DateOfRegistration)</small></p>

            <ul>
                @foreach (var item in Model.UserConnections)
                {
                    <li>
                        <a href="@item.AppUrl">@item.AppType</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
